<div class="form-check justify-content-center m-auto p-5 font">
  <table class="table table-striped table-hover">
    <tbody>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.MISSION' | translate}}
        </h5>
      </th>
      <th scope="col">
        {{mission.name}}
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.YEAR' | translate}}
        </h5>
      </th>
      <th scope="col">{{mission.date_local | date: "medium"}}
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.NUMBER_LAUNCH_COMPANY' | translate}}
        </h5>
      </th>
      <th scope="col">{{mission.flight_number}}
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.COUNT_LAUNCH_COMPANY' | translate}}
        </h5>
      </th>
      <th scope="col">{{mission.cores[0].flight !== null ? mission.cores[0].flight : "неизвестно" }}
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.RETURN' | translate}}
        </h5>
      </th>
      <th *ngIf="mission.cores[0].landing_attempt"
          scope="col">
        {{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.LANDING_ATTEMPT.SCHEDULED' | translate}}
      </th>
      <th *ngIf="!mission.cores[0].landing_attempt"
          scope="col">
        {{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.LANDING_ATTEMPT.NOT_SCHEDULED' | translate}}
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.FLOATING_PLATFORM' | translate}}
        </h5>
      </th>
      <th *ngIf="mission.cores[0].gridfins" scope="col">
        {{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.LANDING_ATTEMPT.SCHEDULED' | translate}}
      </th>
      <th *ngIf="!mission.cores[0].gridfins" scope="col">
        {{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.LANDING_ATTEMPT.NOT_SCHEDULED' | translate}}
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.LANDING_THE_FIRST_STAGE' | translate}}
        </h5>
      </th>
      <th *ngIf="mission.cores[0].landing_success" [style.color]="'green'" scope="col">
        {{ 'DESCRIPTION_LAUNCH_PAGE.SEARCH.IS_SUCCESS.SUCCESSFUL' | translate }}
      </th>
      <th *ngIf="!mission.cores[0].landing_success" [style.color]="'red'" scope="col">
        {{ 'DESCRIPTION_LAUNCH_PAGE.SEARCH.IS_SUCCESS.UNSUCCESSFUL' | translate }}
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.LOGO' | translate}}
        </h5>
      </th>
      <th scope="col">
        <img [src]="mission.links.patch.small" height="100" width="100">
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.DESCRIPTION_MISSION' | translate}}
        </h5>
      </th>
      <th scope="col">{{mission.details ? mission.details : "-"}}
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>Wikipedia</h5>
      </th>
      <th scope="col">
        <a [href]="mission.links.wikipedia"
           class="text-decoration-none">
          {{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.DESCRIPTION_MISSION' | translate}}
        </a>
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.VIDEO_LAUNCH' | translate}}
        </h5>
      </th>
      <th scope="col">
        <a [href]="mission.links.webcast" class="text-decoration-none">
          {{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.VIDEO_LAUNCH' | translate}}
        </a>
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.DESCRIPTION_ROCKETS' | translate}}
        </h5>
      </th>
      <th scope="col">
        <a class="text-decoration-none" routerLink="/rockets">{{'MAIN_PAGE.HEADER.ROCKETS_PAGE' | translate}}
        </a>
      </th>
    </tr>
    <tr>
      <th scope="col">
        <h5>{{'DESCRIPTION_LAUNCH_PAGE.DESCRIPTION_MISSION_LIST.MISSION_ID' | translate}}
        </h5>
      </th>
      <th scope="col">{{mission.id}}</th>
    </tr>
    </tbody>
  </table>
</div>
