<!--в desktop версии иил планшеты будет отображаться этат div-->
<div class="p-0 w-100 position-relative slider-display">
  <mdb-carousel [animation]="'slide'" class="p-0">
    <mdb-carousel-item *ngFor="let item of items">
      <img [alt]="item" [src]="item" class="d-block w-100 h-100">
    </mdb-carousel-item>
  </mdb-carousel>

  <div class="display-5 text-white text-uppercase text-center fw-bolder position-absolute top-1 absolute">
    {{'MAIN_PAGE.MAIN.DESCRIPTION' | translate }}
  </div>
  <div class="position-absolute bottom-0 d-inline p-2">

    <a class="p-2 m-1"
       href="https://github.com/DaniilRyb?tab=repositories" target="_blank"
       title="https://github.com/DaniilRyb?tab=repositories">
      <img alt="GitHub" height="40" src="assets/icons-github.svg" width="40">
    </a>

    <a class="p-2 m-1"
       href="https://vk.com/daniil_ryb" target="_blank" title="https://vk.com/daniil_ryb">
      <img alt="vk" height="40" src="assets/icons-vk.svg" width="40">
    </a>

  </div>

  <div class="d-inline position-absolute bottom-0 end-0">
    <h4 class="text-white p-2 text-uppercase">Created by Daniil Rybakov</h4>
  </div>
</div>


<div class="mobile-text m-5 position-relative h-100">
  <div class="text-black text-uppercase text-center fw-bolder">
    <h3>
      {{'MAIN_PAGE.MAIN.DESCRIPTION' | translate }}
    </h3>
  </div>
  <div class="position-absolute bottom-0 end-0 m-2">
    <a class="p-2 m-1"
       href="https://github.com/DaniilRyb?tab=repositories" target="_blank"
       title="https://github.com/DaniilRyb?tab=repositories">
      <img alt="GitHub" height="40" src="assets/icons-github.svg" width="40" class="bg-black">
    </a>
    <a class="p-2 m-1"
       href="https://vk.com/daniil_ryb" target="_blank" title="https://vk.com/daniil_ryb">
      <img alt="vk" height="40" src="assets/icons-vk.svg" width="40" class="bg-black">
    </a>
  </div>
  <div class="position-absolute bottom-0 start-0 m-2">
    <h4 class="text-black p-2 text-uppercase">Created by Daniil Rybakov</h4>
  </div>
</div>


