.text-small {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.color-nav {
  background-color: rgba(156, 155, 155, 0.56);
}

.pointer {
  cursor: pointer;
}

.logo-desc-mobile-none {
  display: block;
}


@media (max-width: 500px) {
  .img-logo {
    width: 70px;
  }
  .logo-desc-mobile-none {
    display: none;
  }

}
