<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
    <div class="container-fluid">
      <div>
        <img
          alt="SpaceX_logo"
          class="d-inline-block align-top img-logo" height="40"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/SpaceX-Logo-Xonly.svg/1280px-SpaceX-Logo-Xonly.svg.png"
          width="100">
      </div>
      <div class="navbar-brand pointer-event pointer" routerLink="/">SpaceX Launcher<br>
        <span class="text-small fw-bold">
        Сервис для отслеживания космичеких запусков
      </span>
      </div>
      <button (click)="menu.show()" aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              data-target="#navbarNav"
              data-toggle="collapse" title="Menu"
              type="button">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav nav mr-auto mb-2 mb-lg-0 p-3 text-uppercase">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Главная</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/launches">Запуски SpaceX</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/rockets">ракеты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<app-menu #menu/>
<router-outlet/>

<!--<footer class="footer">
<div>
<nav class="navbar navbar-expand-lg color-nav shadow-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <p>Разработал
        <a href="https://vk.com/daniil_ryb">Даниил Рыбаков
        </a>
      </p>
    </div>
    <span>Все права защищены</span>
  </div>
</nav>
</div>
</footer>-->

