<div>
  <h2
    class="font-bold text-center mt-4 mb-5 text-uppercase fw-bolder">{{'DESCRIPTION_LAUNCH_PAGE.TITLE_PAGE' | translate}}
  </h2>
  <h3 class="fs-4 text-uppercase text-center">{{'DESCRIPTION_LAUNCH_PAGE.SEARCH_MISSIONS' | translate}}</h3>
  <div class="text-center">

    <mat-form-field class="m-2 p-2">
      <mat-label>{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.COUNT_LAUNCHES_ROCKETS' | translate}}</mat-label>
      <mat-select [(value)]="count">
        <mat-option [value]="'Показать все'">{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.SHOW_ALL' | translate | uppercase}}
        </mat-option>
        <mat-option *ngFor="let count of countsLaunch" [value]="count">{{count}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="m-2 p-2">
      <mat-label>{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.YEAR' | translate}}</mat-label>
      <mat-select (focus)="EmitYear(date)" [(value)]="date">
        <mat-option>{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.YEAR_SELECT' | translate }}</mat-option>
        <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>

    <form class="example-form d-inline m-2 p-2">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.MISSION_NAME' | translate }}</mat-label>
        <input [(ngModel)]="name"
               [formControl]="myControl"
               [matAutocomplete]="auto"
               aria-label="Поиск по миссии"
               matInput
               placeholder="Введите название миссии"
               type="text">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let mission of filteredOptions | async" [value]="mission">
            {{mission}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>


    <mat-form-field appearance="fill" class="m-2 p-2">
      <mat-label>{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.FIRST STAGE LANDING' | translate }}</mat-label>
      <mat-select [(value)]="landing_success">
        <mat-option [value]="true">{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.IS_SUCCESS.SUCCESSFUL' | translate }}</mat-option>
        <mat-option
          [value]="false">{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.IS_SUCCESS.UNSUCCESSFUL' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>


  </div>
  <div>
    <h2 class="fs-5 mb-3 mt-3 text-center">{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.DETAILED_DESCRIPTION' | translate }}</h2>
    <div class="d-flex">
      <button (click)="this.IsShowed = !this.IsShowed" class="btn btn-primary mx-auto mt-0"
              type="button">
        <p *ngIf="IsShowed"
           class="p-0 m-1">{{ 'DESCRIPTION_LAUNCH_PAGE.SEARCH.BUTTON_IS_SHOW_MISSIONS.SHOW' | translate}}
          {{'DESCRIPTION_LAUNCH_PAGE.SEARCH.BUTTON_SHOW_MISSIONS' | translate}}
        </p>
        <p *ngIf="!IsShowed"
           class="p-0 m-1">{{'DESCRIPTION_LAUNCH_PAGE.SEARCH.BUTTON_IS_SHOW_MISSIONS.HIDE' | translate}}
          {{'DESCRIPTION_LAUNCH_PAGE.SEARCH.BUTTON_SHOW_MISSIONS' | translate}}
        </p>

      </button>
    </div>
    <div *ngIf="!IsShowed">
      <div *ngIf="missionService.missions">
        <app-mission *ngFor="let rocket of missionService.missions
       | filterDate : date
       | filterCountLaunchRocket : count
       | filterMissionsName : name
       | filterIsSuccessLaunch : landing_success;" [mission]="rocket"/>
      </div>
    </div>
  </div>
</div>
