<h2 class="font-bold text-center mt-4 text-uppercase fw-bolder">Подробное описание</h2>
<div class="m-auto p-4">
  <table class="table table-striped table-hover">
    <tbody>
    <tr>
      <th scope="row">Ракета семейства</th>
      <td class="p-2">{{rocketsService.rockets[1].name}}</td>
    </tr>
    <tr>
    <tr>
      <th scope="row">В эксплуатации</th>
      <td> {{rocketsService.rockets[1].active ? "да" : "нет"}}</td>
    </tr>
    <tr>
      <th scope="row">Страна</th>
      <td>{{rocketsService.rockets[1].country}}</td>
    </tr>
    <tr>
      <th scope="row">Компания</th>
      <td>{{rocketsService.rockets[1].company}}</td>
    </tr>
    <tr>
      <th scope="row">Первый полет</th>
      <td>{{rocketsService.rockets[1].first_flight | date }}</td>
    </tr>
    <tr>
      <th scope="row">Стомость запуска</th>
      <td>{{rocketsService.rockets[1].cost_per_launch | currency }}</td>
    </tr>
    <tr>
      <th scope="row">Описание</th>
      <td>{{rocketsService.rockets[1].description}}</td>
    </tr>
    <tr>
      <th scope="row">Высота</th>
      <td>{{rocketsService.rockets[1].height.meters + " м"}}</td>
    </tr>
    <tr>
      <th scope="row">Диаметр</th>
      <td>{{rocketsService.rockets[1].diameter.meters + " м"}}</td>
    </tr>
    <tr>
      <th scope="row">Количество ступеней</th>
      <td>{{rocketsService.rockets[1].stages}}</td>
    </tr>
    <tr>
      <th scope="row">Количество боковых ускорителей</th>
      <td>{{rocketsService.rockets[1].boosters}}</td>
    </tr>
    <tr>
      <th scope="row">Статья</th>
      <td><a [href]="rocketsService.rockets[1].wikipedia" class="text-decoration-none">Wikipedia</a></td>
    </tr>
    <tr>
      <th scope="row">Общая масса</th>
      <td>{{(rocketsService.rockets[1].mass.kg / 1000).toFixed(0) + " т"}}</td>
    </tr>
    <tr>
      <th scope="row">Тяга первой ступени над уровнем моря</th>
      <td>{{(rocketsService.rockets[1].first_stage.thrust_sea_level.kN | number) + " кН" }}</td>
    </tr>
    <tr>
      <th scope="row">Тяга первой ступени в вакууме</th>
      <td>{{(rocketsService.rockets[1].first_stage.thrust_vacuum.kN | number) + " кН" }}</td>
    </tr>
    <tr>
      <th scope="row">Многоразовая</th>
      <td>{{rocketsService.rockets[1].first_stage.reusable ? "да" : "нет" }}</td>
    </tr>
    <tr>
      <th scope="row">Количество двигателей первой ступени</th>
      <td>{{rocketsService.rockets[1].first_stage.engines}}</td>
    </tr>
    <tr>
      <th scope="row">Масса топлива</th>
      <td>{{rocketsService.rockets[1].first_stage.fuel_amount_tons + " т"}}</td>
    </tr>
    <tr>
      <th scope="row">Время работы первой ступени</th>
      <td>{{rocketsService.rockets[1].first_stage.burn_time_sec + " c"}}</td>
    </tr>
    <tr>
      <th scope="row">Тяга второй ступени ступени</th>
      <td>{{rocketsService.rockets[1].second_stage.thrust.kN + " кН"}}</td>
    </tr>
    <tr>
      <th scope="row">Высота головного обтекателя</th>
      <td>{{rocketsService.rockets[1].second_stage.payloads.composite_fairing.height.meters + " м"}}</td>
    </tr>
    <tr>
      <th scope="row">Диаметр головного обтекателя</th>
      <td>{{rocketsService.rockets[1].second_stage.payloads.composite_fairing.diameter.meters + " м"}}</td>
    </tr>
    <tr>
      <th scope="row">Материал</th>
      <td>{{rocketsService.rockets[1].second_stage.payloads.option_1 | titlecase }}</td>
    </tr>
    <tr>
      <th scope="row">Масса топлива второй ступени</th>
      <td>{{rocketsService.rockets[1].second_stage.fuel_amount_tons + " т"}}</td>
    </tr>
    <tr>
      <th scope="row">Суммарное время работы второй ступени</th>
      <td>{{rocketsService.rockets[1].second_stage.burn_time_sec + " с" }}</td>
    </tr>
    <tr>
      <th scope="row">Тип двигателя</th>
      <td>{{rocketsService.rockets[1].engines.type | titlecase }}</td>
    </tr>
    <tr>
      <th scope="row">Топливо первой ступени</th>
      <td>{{rocketsService.rockets[1].engines.propellant_1 | titlecase}}</td>
    </tr>
    <tr>
      <th scope="row">Топливо второй ступени</th>
      <td>{{rocketsService.rockets[1].engines.propellant_2 | titlecase}}</td>
    </tr>
    <tr>
      <th scope="row">Количество посадочных ног</th>
      <td>{{rocketsService.rockets[1].landing_legs.number }}</td>
    </tr>
    <tr>
      <th scope="row">Материал</th>
      <td>{{rocketsService.rockets[1].landing_legs.material | titlecase }}</td>
    </tr>
    <tr *ngFor="let payload of rocketsService.rockets[1].payload_weights">
      <th scope="row">{{payload.name}} - {{payload.id | uppercase}}</th>
      <td>{{(payload.kg | number) + " кг"}}</td>
    </tr>
    <tr *ngFor="let img of rocketsService.rockets[1].flickr_images" class="text-center">
      <th class="text-lg-start" scope="row">Изображения</th>
      <td>
        <img [alt]="rocketsService.rockets[1].name"
             [src]="img"
             [title]="rocketsService.rockets[2].name + 'rocket image'"
             height="400" width="700">
      </td>
    </tr>
    <tr class="text-center">
      <th scope="row">Видео</th>
      <!--<h3 class="font-bold mt-4 mb-4 text-uppercase">Видео</h3>
      -->
      <td>
        <iframe class="shadow-lg" height="400" src="https://www.youtube.com/embed/Z4TXCZG_NEY"
                title="Starship | SN10 | High-Altitude Flight Test"
                width="700">
        </iframe>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-scroll-page/>
